body {
    margin: 0;
    box-sizing: border-box;
    background-color: #0F0D0D;
}

.header {
    text-align: center;
    color: #FA2256;

}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 100px;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.square {
    border: 2px solid #FBE094;
    width: 10px;
    height: 10px;
    padding: 20px;
}

.hover {
    background-color:#FA2256;
}