body {
    margin: 0;
    box-sizing: border-box;
    background-color: #0F0D0D;
}

.header {
    color: #FA2256;
    text-align: center;

}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 40px;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.square {
    border: 2px solid #FBE094;
    width: 10px;
    height: 10px;
    padding: 20px;
}

.hover {
    background-color:#FA2256;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

